#login-logo{
    float: left;
    margin-left: 42%;
    margin-top: 10%;
}

#login-logo>img{
    height: 16%;
    width: 16%;
}

#login{
    float: left;
    color: #B4886B;
    width: 100px;
    height: 300px;
    margin-left: 41%;
}

#login>input{
    float: left;
}

#login>label{
    float: left;
}

#loginButton {
    margin-top: 10px;
    padding-right: 59px;
    padding-left: 59px;
}

